
.text_wrapper{
    width: 50%;
}

.head_privacy {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text_privacy {
    font-size: 20px;
    text-align: justify;
}

@media only screen and (max-width: 1000px){
    .text_wrapper{
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .text_privacy{
        text-align: left;
    }
}