/* стили для блока тарифов */
.service__tariffs__bg{
    background-color: #212529;
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
}

.service__tariffs__wrapper{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 1260px;
    padding-top: 40px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 30px;
}

.service__tariff__card__line{
    height: 1px;
    width: 350px;
    background-color: #616161;
}

.service__tariff__card{
    width: 400px;
    display: inline-block;
}

.service__tariff__card__head{
    width: 100%;
    height: 152px;
    background-color: #203643;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 25px 0;
    text-align: center;
}

@media only screen and (max-width: 458px){
    .service__tariffs__bg{
        margin-top: 70px;
    }
}

.service__tariff__card__head h1{
    font-size: 48px;
    margin-bottom: 5px;
}

.service__tariff__card__head h3{
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0px;
}

.service__tariff__card__head h6{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.service__tariff__card__content{
    margin: auto;
    margin-top: 5px;
    width: 360px;
    display: inline-block;
    font-size: 30px;
}

.service__tariff__card__sentence{
    margin-top: 10px;
}

.service__tariff__card__sentence_special{
    margin-top: 55px;
}

/* разделитель треугольниками */
.treugolnik__wrapper{
    height: 20px;
    width: 100%;
    overflow: hidden;
    display: flex;
    margin: -1px;
}

/* стили для формы обратной связи */
.service__from__bg{
    background-color: #fff;
    margin-top: 60px;
    margin-bottom: 60px;
    height: 569px;
    width: 100%;
}

.service__form__wrapper{
    height: 100%;
    margin: auto;
    max-width: 1210px;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
}

.service__form{
    width: 399px;
    height: 525px;
    margin-left: 60px;
}

.service__form input, textarea{
    width: 100%;
    height: 51px;
    border: 2px solid;
    border-color: rgba(97, 97, 97, .2);
    color: #616161;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 2px;
    font-size: 24px;
}

.service__form input:focus-visible{
    outline: 2px solid rgba(97, 97, 97, .2);
}

input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
 
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.service__form .comment__field{
    text-align: start;
    height: 100px;
    resize: none;
    font-size: 24px;
    margin-bottom: 10px;
    border: 2px solid rgba(97, 97, 97, .2);
}

.service__form .comment__field:focus-visible{
    outline: 2px solid rgba(97, 97, 97, .2);
}

.service__form .submit__btn{
    color: #fff;
    text-align: center;
    background-color: #203643;
    padding: 0;
    margin-bottom: 10px;
}

.service__form .unsubmit__btn{
    color: #fff;
    text-align: center;
    background-color: rgba(49, 61, 67, 0.5);
    padding: 0;
    margin-bottom: 10px;
    cursor: auto!important;
}

.service__form .captcha {
    margin-bottom: 10px;
}

.conf__politic{
    font-size: 10px;
    color: rgba(97, 97, 97, .6);
}
.conf__politic a:active,
.conf__politic a:hover,
.conf__politic a{
    color: #212529;
    text-decoration: none;
}

.error__message{
    padding-left: 5px;
    margin-bottom: 5px;
    background-color: rgba(165, 51, 51, 0.64);
    color: white;
    border-radius: 2px;
}

.form__photo {
    width: 750;
    height: 500;
}

@media only screen and (max-width: 1320px){
    .service__tariffs__wrapper{
        justify-content: space-between;
        gap: 0px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .service__tariff__card{
        width: 32%;
    }    

    .service__tariff__card__line{
        width:95%;
    }

    .service__tariff__card__content{
        width: 100%;
    }

    .form__photo img{
        height: 500px;
        margin-left: 5px;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

@media only screen and (max-width: 1080px){
    .service__tariffs__wrapper{
        margin: auto;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .service__tariff__card{
        width: 400px;
    }   
}

@media only screen and (max-width: 750px){
    .form__photo{
        display: none;
    }
    .service__form{
        margin: auto;
    }
}

@media only screen and (max-width: 400px){
    .service__tariff__card{
        width: 100%;
    }
}