.tile_conteiner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tile_standart {
    margin-top: 20px;
    padding: 10px;
    vertical-align: bottom;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
}

.tile_found {
    vertical-align: bottom;
    position: relative;
    overflow: hidden;
}

.tile_desc_conteiner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}