.carousel-found {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.app_main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}