nav{
    height: 70px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    position: fixed;
}

.nav__wrapper{
    height: 100%;
    max-width: 1320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 8px;
}

.nav_links__wrapper ul{
    padding-left: 0px;
    margin: auto;
}

.nav__menu{
    width: 32px;
    height: 32px;
    display: none;
    cursor: pointer;
}

.nav_links__wrapper{
    display: inline-block;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
}

.nav__hr{
    margin: 0;
    border-top: none;
    opacity: 1;
    border: revert;
}

@media only screen and (max-width: 750px){
    .nav_links__wrapper{
        display: none;
        margin-top: 110px;
        position: absolute;
        background: #212529;
        width: 100%;
        left: 0px;
        justify-content: center;
        border: 2px solid #c7c4c2;
        border-right-width: 0;
        border-left-width: 0;
        padding: 5px;
    }

    .nav_links__wrapper ul li:first-child{
        margin-left: 0px;
    }

    .nav__menu{
        display: block;
    }
}

@media only screen and (max-width: 340px){
    .nav_links__wrapper ul{
        display: flex;
        flex-direction: column;
    }
    .nav_links__wrapper{
        margin-top: 190px;
    }
}

.nav-item{
    display: inline;
    margin-left: 16px;
    text-align: center;
}

.nav-item a:active,
.nav-item a:hover,
.nav-item a{
    color: white;
    font-size: 24px;
    text-decoration: none;
}