/* new */
.footer_wrapper{
    position: relative;
}

.footer_wrapper footer{
    position: absolute;
    left: 0;
    width: 100%;
    padding-bottom: 55px;
    background-color: #212529;
}

.footer__content__wrapper{
    margin: auto;
    max-width: 1320px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 750px){
    .footer__content__wrapper{
        flex-direction: column;
    }
}

.footer__conten__block{
    float: left;
    position: relative;
    width: 50%;
    height: 100%;
    padding-top: 15px;
    font-weight: 600;
    font-size: 16px;
    padding-left: 5px;
}

.footer__conten__block a:hover, 
.footer__conten__block a:active,
.footer__conten__block a{
    display: inline-block;
    text-decoration: none;
    color: #c7c4c2;
}

.footer__title{
    font-size: 26px;
    color: #fff;
}

.footer__map__list{
    padding-left: 0px;
    padding-top: 10px;
}

.footer__map__list__item{
    padding-bottom: 3px;
    list-style-type: none;
}

.footer__contacts__block{
    margin-top: 10px;
    display: inline-flex;
    flex-direction: column;
    width: 180px;
    height: 70%;
}

.footer__line{
    width: 200%;
    height: 1px;
    margin-top: 8px;
    margin-bottom: 5px;
    background-color: #606060;
}

.footer__lil__title{
    color: #fff;
    font-size: 18px;
}

.footer__contacts__link{
    margin-top: 10px;
}

.footer__contacts__ioc__link{
    margin-top: 5px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.under__footer__wrapper{
    height: 25px;
    width: 100%;
    background-color: #15171A;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media only screen and (max-width: 490px){
    .under__footer__wrapper{
        height: 50px;
    }
}

@media only screen and (max-width: 370px){
    .footer__line{
        width: 100%;
    }
}

@media only screen and (max-width: 326px){
    .under__footer__wrapper p{
        display: none;
    }
}

.under_footer__contacts{
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    margin: auto;
}

.under__footer__wrapper a:active,
.under__footer__wrapper a{
    display: inline-block;
    text-decoration: none;
    color: #606060;
    margin-right: 10px;
}

.under__footer__wrapper a:hover{
    display: inline-block;
    text-decoration: none;
    color: #c7c4c2;
}

.under__footer__wrapper p{
    color: #c7c4c2;
    margin-bottom: 0px;
}
/* 325 */