.page_header{
    max-width: 100%;
    max-height: 400px;
    overflow: hidden;
    object-position: 50% 50%;
    font-size: 60px;
}
.page_header_bg_photo{
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    object-position: 50% 50%;
    
}

.grid_container {
    display: grid;
    gap: 20px;
    grid-template-columns: 35% 40% 25%;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.cotacts__box{
    display: flex;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    min-width: 1165px;
    height: 270px;
    border: 4px solid #212529;
}

.classic__contacts__link a:active,
.classic__contacts__link a:hover,
.classic__contacts__link a{
    display: inline-block;
    text-decoration: none;
    color: #212529;
}

.cotacts__box__photo__wrapper{
    display: flex;
    height: 100%;
    width: 366px;
    max-width: 100%;
    background-color: #212529;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.cotacts__box__photo__wrapper img{
    margin-top: 10px;
}

.cotacts__box__photo__wrapper h3{
    color: #fff;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.classic__contacts{
    margin-left: 40px;
    margin-top: 25px;
    color: black;
    font-size: 30px;
    font-weight: 500;
    max-width: 100%;
}

.classic__contacts__link{
    margin-bottom: 5px;
}

.classic__contacts__link br{
    display: none;
}

.contacts__geo__mark{
    font-weight: 300;
    margin-top: 65px;
}

.cotacts__box__links__wrapper{
    display: flex;
    width: 140px;
    height: 140px;
    margin: auto;
    margin-right: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

 @media only screen and (max-width: 1175px){
    .cotacts__box{
        width: 96%;
        min-width: unset;
    }

    .classic__contacts{
        margin-left: 2%;
        margin-top: 1%;
    }
}

@media only screen and (max-width: 1000px){
    .cotacts__box{
        height: 100%;
        flex-direction: column;
    }

    .cotacts__box__photo__wrapper{
        width: 100%;
    }

    .contacts__geo__mark{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .cotacts__box__links__wrapper{
        width: 100%;
        height: unset;
        justify-content: space-evenly;
        margin-right: 0px;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 458px){
    .classic__contacts__link, .contacts__geo__mark, .page_header{
        font-size: 28px;
    }

    .contacts__geo__mark img{
        width: 30px;
    }

    .cotacts__box__link img{
        width: 45px;
        height: 45px;
    }

    .nav__extender{
        background-color: #212529!important;
    }

    .page_header{
        /* margin-top: 70px; */
        display: none;
    }

    .cotacts__box{
        margin-top: 90px;
    }
}

@media only screen and (max-width: 420px){
    .classic__contacts__link br{
        display: block;
    }
}

.about_me_wrapper{
    margin-top: 50px;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 50px;
}

@media only screen and (max-width: 640px){
    .about_me_wrapper{
        width: 96%;
        margin-right: 10px;
        margin-left: 10px;
    }
}