video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.line {
    background-color: "white";
    width: 10%;
    height: 2px;
}

.background_gradient {
    background: rgb(75,75,75);
    background: linear-gradient(0deg, rgba(75,75,75,0.5494572829131652) 0%, rgba(216,225,227,1) 100%);
}

.background_standart {
    background: rgb(33,37,41);
}

.treg {
    width: 100%;
    height: 38px;
    background-color: #fff;
    bottom: auto;
    border-radius:50% 50% 50% 50% / 100% 100% 0% 0%;
}

.tile_conteiner{
    margin-bottom: 0px!important;
    padding-bottom: 20px;
    max-width: 100%;
}

.advantages__wrapper{
    background-color: rgb(33,37,41);
    color: #fff;
}

.video_conteiner{
    max-width: 1350px;
    max-height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.video{
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    vertical-align: bottom;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.video:hover{
    scale: 1.01;
}

.photo_cards__wrapper{
    margin: auto;
    margin-top: 10px;
    width: 1320px;
    display: flex;
}

.photo_cards__collom{
    width: 100%;
}

.tile_conteiner img{
    height: auto;
}

@media only screen and (max-width: 1320px){
    .photo_cards__wrapper{
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .portfolio_title{
        line-height: 65px;
        margin-bottom: 40px;
    }

    .fs-1{
        line-height: 40px;
    }
}
@media only screen and (max-width: 900px){
    .photo_cards__wrapper{
        flex-wrap: wrap;
    }
} 

@media only screen and (max-width: 650px){
    .video_conteiner{
        display: block;
    }

    .video{
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        border-radius: 5px;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 10px;
  }
    
    .video iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}